!!!
%html
  %head
    %title Gallery
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
  %body
    #nav= render "./layouts/nav"
    .container-fluid(data-pjax-container="true")= yield